@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: 'CustomCambria';
  src: url('/fonts/cambria-math.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for performance */
}
/* @theme {
  --font-math: "Cambria Math", serif;
} */
:root {
  font-family: 'Cambria Math', serif;
}